@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #57be6c;
  --color-secondary: #101010;

  --color-white: #fff;
  --color-grey: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: var(--color-secondary);
}

.App {
  width: 700px;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}

.App h1 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 300;
}

main {
  padding: 2rem 0.5rem;
  background-color: var(--color-primary);
}

main .title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer label {
  display: block;
  font-weight: 300;
  text-align: left;
  width: 29%;
  margin: auto;
}

input {
  padding: 10px 20px;
  outline: none;
  border: none;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer span {
  margin-top: 5px;
  display: block;
  width: 28%;
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.buttonContainer span:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
}

.result-display p {
  border: 2px solid var(--color-secondary);
  padding: 1rem 0.5rem;
  margin: 20px auto 0 auto;
  width: 280px;
  font-size: 0.9rem;
}

.result-display ul {
  border: 2px solid var(--color-secondary);
  padding: 0 0.5rem;
  margin: 20px auto 0 auto;
  width: 280px;
  font-size: 0.9rem;
}

.error {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

.note-list {
  list-style: none;
}

li {
  padding: 5px 20px;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-secondary);
}

li:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
}
